img {
    width: 100%;
    height: auto;
}

.navbar-custom {
    background-color:#BEB3A3;
}

.nav-link {
    color: white;
}
.banner {
    position: relative;
    text-align: center;
    width: 100%;
    height: 10%;
    background-image: url('./images/banner.jpg');
  }

.centered {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, 0%);
}

p {
    text-align: center;
    padding-top: 30px;
    
}

body {
    font-family: lieberuth, sans-serif!important;
    color: #707070!important;
}

h1 {
    color: white;
        opacity: 0.8;
        white-space: nowrap; 
        font-family: p22-stanyan, sans-serif;
        font-style: normal;
        font-weight: 700;
}
@media screen and (max-width: 990px) { /* medium screens */
	.centered  {
        font-size: 28px;
    }
    .pitch {
        font-size: 15px;
    }
    body, .navbar, .nav-item, .dropdown-menu {
        font-size: 10px!important;
    }
    ul {
        text-align: center;
    }
    .dropdown-menu {
        text-align: center!important;
      }
    
}

@media screen and (min-width: 991px) { /* large screens */
	.centered {
        font-size: 80px;
    }
    .pitch {
        font-size: 45px;
    }
}

@media screen and (max-width: 634px) { /* small screens */
	.centered {
        font-size: 20px;
    }
    .pitch {
        font-size: 12px;
    }
    body, .navbar, .nav-item, .dropdown-menu {
        font-size: 8px!important;
    }
    .dropdown-menu {
        text-align: center!important;
      }
}

   
  .dropdown-toggle::after {
     transition: transform 0.15s linear; 
  }
   
  .show.dropdown .dropdown-toggle::after {
    transform: translateY(3px);
  }

 .nav-item {
     margin-left: 30px;
     margin-right: 30px;
 }

.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin:0 auto;
}

.navbar-toggle {
    z-index:3;
}

@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ 
        display: none; 
    }
	.navbar .nav-item:hover .nav-link{ 
        color: #fff;  
    }
	.navbar .nav-item:hover .dropdown-menu{ 
        display: block; 
    }
	.navbar .nav-item .dropdown-menu{ 
        margin-top:0; 
    }
}

.container {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    justify-content: space-evenly;
}

  
  .square {
    
    object-fit: cover;
    vertical-align: bottom;
    margin: 15px;
  }

  @media all and (max-width: 414px) {
      .square {
        max-width: 100%;
        height: auto;
      }
    
  }

  @media all and (min-width: 415px) {
    .square {
        max-width: 30%;
        height: auto;
    }
} 


* {
    box-sizing: border-box;
}

.logo {
    max-width: 20px;
    height: auto;
    opacity: 0.7;
	
}

.pitch {
    font-family: amatic-sc, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    padding-top: 30px;
    color: #707070;
}

